

#home{
	background-color:#ACD1E3;

}

#salad{
	background-color:#ACE3C0;

}

#csalad{
	background-color:#B0C291;

}

#ccsalad{
	background-color:#B0C291;

}

#lgsalad{
	background-color:#B0C291;

}

#desserts{
	background-color:#DEBDD7;

}

#ccmuffin{
	background-color:#DFC8F7;

}

#bbread{
	background-color:#DFC8F7;

}

#cccookies{
	background-color:#DFC8F7;

}






