

#home{
	background-color:#ACD1E3;

}

#salad{
	background-color:#ACE3C0;

}

#csalad{
	background-color:#B0C291;

}

#ccsalad{
	background-color:#B0C291;

}

#lgsalad{
	background-color:#B0C291;

}

#desserts{
	background-color:#DEBDD7;

}

#ccmuffin{
	background-color:#DFC8F7;

}

#bbread{
	background-color:#DFC8F7;

}

#cccookies{
	background-color:#DFC8F7;

}

#salad h1{
color:white;
}
#salad p{
color:white;
}

#csalad p{
color:#367349;
}
#csalad h1{
color:#367349;
}
#csalad h3{
color:#367349;
}
#csalad li{
color:#367349;
}

#ccsalad p{
color:#367349;
}
#ccsalad h1{
color:#367349;
}
#ccsalad h3{
color:#367349;
}
#ccsalad li{
color:#367349;
}

#lgsalad p{
color:#367349;
}
#lgsalad h1{
color:#367349;
}
#lgsalad h3{
color:#367349;
}
#lgsalad li{
color:#367349;
}
#lgsalad h4{
color:#367349;
}




#desserts h1{
color:white;
}
#desserts p{
color:white;
}

#ccmuffin h1{
color:#60B6D1;
}
#ccmuffin p{
color:#60B6D1;
}
#ccmuffin h3{
color:#60B6D1;
}
#ccmuffin h4{
color:#60B6D1;
}
#ccmuffin li{
color:#60B6D1;
}


#bbread h1{
color:#60B6D1;
}
#bbread p{
color:#60B6D1;
}
#bbread h3{
color:#60B6D1;
}
#bbread h4{
color:#60B6D1;
}
#bbread li{
color:#60B6D1;
}

#cccookies h1{
color:#60B6D1;
}
#cccookies p{
color:#60B6D1;
}
#cccookies h3{
color:#60B6D1;
}
#cccookies h4{
color:#60B6D1;
}
#cccookies li{
color:#60B6D1;
}








